* {
    margin: 0;
    box-sizing: border-box;

}


/* header nav */


ul li a {
    color: white !important;
    font-size: 17px !important;
}

.navbar-brand {
    color: white !important;
    font-size: 50px !important;
}

.landing {
    background-image: url(../img/background2.jpeg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;

}

nav {
    z-index: 2;
}

.landing .text-center {
    z-index: 3;
}

.overly {
    background: linear-gradient(to bottom, rgba(77, 77, 255, 0.3) 0%, rgba(77, 77, 255, 0.3) 100%);
    z-index: 1;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

/* section-1 */


.text-1 .card {
    background-color: #4da6ff;
    box-shadow: 5px 5px 5px 5px rgb(201, 201, 201);
    padding: 20px;
    color: white;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #4da6ff;
}

.nav-link {
    color: #4da6ff;
}

.card img:hover {
    opacity: 1 !important;
}

/* background-end */
.landing-end {
    background-image: url(../img/li33.jpeg);
    background-size: cover;
    background-position: center;
    min-height: 50vh;
    z-index: 2;
}

.text-end {
    left: 50%;
    top: 30%;
    transform: translateX(-50%);

}

.text-end button {
    color: white;
}

.text-end button:hover {
    color: white;
}

/* footer */
footer {
    background-color: rgb(141, 141, 141);
}

.section-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.section-wrap>div {
    width: 25%;
}

.div-footer1 img {
    width: 50%;


}

.div-footer {
    color: white;
    padding-top: 50px;

}

.div-footer a {
    text-decoration: none;
    cursor: pointer;
    text-align: center;

}

.div-footer h6 {
    font-weight: 650;
    font-size: 20px;
}

.div-footer ul, li {
    text-decoration: none;
    list-style-type: none;
    padding: 5px 0px;
}

.lower-footer {
    color: white;
    background-color: black;
    padding: 15px 0px;
}

.lower-wrap {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.icons a {
    padding: 10px;
    color: white;
}


/* responsive mobile */

@media (max-width:992px) {
    .text-end {
        font-size: 10px !important;
    }

    .navbar {
        z-index: 10000;
    }

    .navbar-brand {
        font-size: 35px !important;
    }

    .navbar-toggler {
        font-size: 15px !important;
    }

    .navbar ul li {
        background-color: rgb(29, 27, 27);
        color: aliceblue;
        z-index: 100 !important;
    }

    .navbar ul li a {
        font-size: 14px !important;
    }

    .section-wrap {

        display: flex;
        flex-direction: column;
        width: 80%;
        margin: auto;
    }

    .section-wrap p {
        font-size: 20px;
    }

    .div-footer h6 {
        font-size: 35px;
    }

    .div-footer ul li {
        font-size: 20px !important;
    }

    .logo-icon {
        display: none;
    }

    .landing-end {
        width: 100%;
    }

    .text-end p {
        font-size: 20px !important;
    }

    .container {
        width: 90%;
    }

    .section-wrap>div {
        width: 100%;
    }

    .overly {
        background: linear-gradient(to bottom, rgba(77, 77, 255, 0.3) 0%, rgba(77, 77, 255, 0.3) 100%);
        z-index: 1;
        height: 100vh;
    }


}