* {
    margin: 0;
    box-sizing: border-box;
}

ul li a {
    color: white !important;
    font-size: 17px !important;
}

.navbar-brand {
    color: white !important;
    font-size: 50px !important;
}

.landing {
    background-image: url(../img/background2.jpeg);
    background-size: cover;
    background-position: center;
    min-height: 50vh;
    z-index: 2;
}

.h-100 {
    height: 50% !important;
}

nav {
    z-index: 2;
}

.landing .text-center {
    z-index: 3;
}

.sec1-wrap {
    display: flex;
    padding: 40px 0px;
    gap: 50px;
}

.About {
    width: 50%;
}

.About p {
    padding: 20px 0px;
}

.About img {
    width: 100%;

}

.icons {
    margin-bottom: 20px;
}

.icons span {
    margin: 5px 10px;
}

/*main*/
.blocks {
    width: 100%;
    padding: 40px 0px;
    display: flex;
    gap: 20px;

}

.blocks>div {
    width: 50%;
}

.blocks img {
    width: 100%;
}

.inter-div {
    font-size: 20px;
    font-weight: 400;
}

/* @media (max-width:768px) {
    .img-inter {
        display: none;
        width: 0;
    }

    .bloks-section {
        display: flex !important;
        flex-wrap: wrap;
    }
} */

.vrt {
    text-align: center;
    width: 100%;
    padding: 40px 0px;
}

.vrt h1 {
    padding-bottom: 40px;
}

iframe {

    width: 100%;
    height: 700px;
}

/*footer*/
footer {
    background-color: rgb(141, 141, 141);
}

.section-wrap {
    display: flex;

}

.section-wrap>div {
    width: 33.333%;
}

.section-wrap .div-footer1 {

    width: 50%;
}

.div-footer1 img {
    width: 100%;


}

.div-footer {
    color: white;
    padding-top: 50px;

}

.div-footer a {
    text-decoration: none;
    cursor: pointer;
    text-align: center;

}

.div-footer h6 {
    font-weight: 650;
    font-size: 20px;
}

.div-footer ul,
li {
    text-decoration: none;
    list-style-type: none;
    padding: 5px 0px;
}

.lower-footer {
    color: white;
    background-color: black;
    padding: 15px 0px;
}

.lower-wrap {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.icons {
    margin: 0px;
}

.icons a {
    padding: 10px;
    color: white;

}
