* {
    margin: 0;
    box-sizing: border-box;
}


ul li a {
    color: white !important;
    font-size: 17px !important;
    outline: none;


}



.navbar-brand {
    color: white !important;
    font-size: 50px !important;
}

.landing {
    background-image: url(../background2.jpeg);
    background-size: cover;
    background-position: center;
    min-height: 50vh;
    z-index: 2;
}

.overly {
    background: linear-gradient(to bottom, rgba(77, 77, 255, 0.3) 0%, rgba(77, 77, 255, 0.3) 100%);
    z-index: 1;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}


.h-100 {
    height: 50% !important;
}

nav {
    z-index: 2;
}

.landing .text-center {
    z-index: 3;
}

.sec1-wrap {
    display: flex;
    padding: 40px 0px;
    gap: 50px;

}

.About {
    width: 50%;
}

.About p {
    padding: 20px 0px;
}

.About img {
    width: 100%;


}

.icons {
    margin-bottom: 20px;
}

.icons span {
    margin: 5px 10px;
}

footer {
    background-color: rgb(141, 141, 141);
}

.section-wrap>div {
    width: 50%;
}

.div-footer1 img {
    width: 100%;


}

.div-footer {
    color: white;
    padding-top: 50px;

}

.div-footer a {
    text-decoration: none;
    cursor: pointer;
    text-align: center;

}

.div-footer h6 {
    font-weight: 650;
    font-size: 20px;
}

.div-footer ul, li {
    text-decoration: none;
    list-style-type: none;
    padding: 5px 0px;
}

.lower-footer {
    color: white;
    background-color: black;
    padding: 15px 0px;
}

.lower-wrap {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.icons a {
    padding: 10px;
    color: white;
}

footer {
    background-color: rgb(141, 141, 141);
}

.section-wrap {
    display: flex;

}

.section-wrap>div {
    width: 33.333%;
}

.section-wrap .div-footer1 {

    width: 50%;
}

.div-footer1 img {
    width: 100%;


}

.div-footer {
    color: white;
    padding-top: 50px;

}

.div-footer a {
    text-decoration: none;
    cursor: pointer;
    text-align: center;

}

.div-footer h6 {
    font-weight: 650;
    font-size: 20px;
}

.div-footer ul, li {
    text-decoration: none;
    list-style-type: none;
    padding: 5px 0px;
}

.lower-footer {
    color: white;
    background-color: black;
    padding: 15px 0px;
}

.lower-wrap {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.icons a {
    padding: 10px;
    color: white;
}


/* responsive mobile */

@media (max-width:992px) {
    .navbar {
        z-index: 100000 !important;
    }

    .text-end {
        font-size: 10px !important;
    }

    .navbar-brand {
        font-size: 35px !important;
    }

    .navbar-toggler {
        font-size: 15px !important;
    }

    .navbar ul li {
        background-color: rgb(29, 27, 27);
        color: aliceblue;
        z-index: 100 !important;

    }

    .navbar ul li a {
        font-size: 14px !important;
        z-index: 100 !important;
    }

    .section-wrap {

        display: flex;
        flex-direction: column;
        width: 80%;
        margin: auto;
    }

    .section-wrap p {
        font-size: 20px;
    }

    .div-footer h6 {
        font-size: 35px;
    }

    .div-footer ul li {
        font-size: 20px !important;
    }

    .logo-icon {
        display: none;
    }

    .landing-end {
        width: 100%;
    }

    .text-end p {
        font-size: 20px !important;
    }

    .container {
        width: 90%;
    }

    .section-wrap>div {
        width: 100%;
    }

    .text-center {
        z-index: 0;
    }

    .sec1-wrap {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
    }

    .About {
        width: 100%;
        margin: auto !important;
    }

    .overly {
        background: linear-gradient(to bottom, rgba(77, 77, 255, 0.3) 0%, rgba(77, 77, 255, 0.3) 100%);
        z-index: 1;
        height: 100vh;
    }

}